<html>
<head>
<title>Rock, Paper and Scissor</title>
<link rel = "stylesheet" type="text/css" href = "/css/style.css"/>
</head>
<body>
<h0><b> Rock, Paper and Scissor </b></h0>
<br><br><br><br><br><br><br><br>
</body>
</html>
